<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
	<p style="font-weight: bold; font-size: 24px;">Get in Touch</p>
	
	<ul class="contact-list"> 
		<img src="{{ site.baseurl }}/figure/Email_Icon.png" alt="Email Icon" style="width: 20px;"> 
		{%- if site.email -%} 
		<a class="u-email" href="mailto:{{ site.email }}" style="margin-left:5px; padding-bottom:0">{{ site.email }}</a>
		{%- endif -%}
	</ul>
	
        {%- include social.html -%}

      </div>

      <div class="footer-col footer-col-2">
	
      </div>

    </div>

  </div>

</footer>
